OGE_downloadingForms/venv/
OGE_downloadingForms/__pycache__/
OGE_downloadingForms/.DS_Store
OGE_downloadingForms/venv/
OGE_downloadingForms/matched_people.csv
OGE_downloadingForms/unmatched_documents.csv
OGE_downloadingForms/request_log.csv
OGE_downloadingForms/progress.md
OGE_downloadingForms/OGE_Documents/
OGE_downloadingForms/downloads/
OGE_downloadingForms/requested_documents_prev.json
OGE_downloadingForms/peopleToPage_all.json
OGE_downloadingForms/peopleToPage_actual.json
OGE_downloadingForms/config.py
OGE_downloadingForms/direct_download_progress.md
OGE_downloadingForms/direct_download_log.csv
OGE_downloadingForms/RA_collection/
OGE_downloadingForms/DirectDownloads/direct_downloads/

Matching_Task/venv/
Matching_Task/__pycache__/
Matching_Task/.DS_Store
Matching_Task/joined_sample_us.parquet
Matching_Task/unmatched_sample.csv